.textarea {
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  textarea {
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 20px;
    color: gray;
    outline: none;
    transition: all 0.5s;
    &:focus {
      border: 1px solid #4d8cf9;
    }
  }
}
