.input {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: black;
  font-weight: bold;
  span {
    color: red;
  }
  input {
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 20px;
    color: gray;
    outline: none;
    transition: all 0.5s;
    &:focus {
      border: 1px solid #4d8cf9;
    }
  }
}
