.bacground {
  background-color: #4d8cf9;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.header {
  padding: 25px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  button {
    padding: 11px 21px;
    border-radius: 20px;
    background-color: #4d8cf9;
    cursor: pointer;
    transition: all 0.5s;
    border: 1px solid #4d8cf9;
    color: white;
    &:hover {
      background-color: #fff;
      color: #4d8cf9;
    }
  }
}
