.header {
  padding: 15px 0;
  background-color: lightpink;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__nav li {
  margin-right: 30px;
}

.header__nav li:last-child {
  margin-right: 0;
}

.header__nav li:hover {
  font-weight: bold;
}
